<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.apache.pdfbox.io.ScratchFileBuffer" level="ERROR"/>
    <logger name="org.mockserver.log" level="WARN"/>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>