name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Install dependencies
        run: sudo apt install fontconfig firefox
      - name: Build
        run: ./gradlew spotlessCheck build jacocoTestReport
      - name: Codecov
        uses: codecov/codecov-action@v3
